.video-card {
  padding: 6vw 3vw 6vw 4vw;
  display: flex;
  gap: 2vw;
  flex-wrap: wrap;

  iframe {
    width: 290px;
    height: 175px;
  }

  @media screen and (max-width: 768px) {
    padding: 2vw 3vw  2vw 6vw;
    iframe {
      margin-top: 1.5rem;
      width: 350px;
      height: 150px;
    }
  }
}
