.video-card {
    padding: 6vw 3vw 6vw 4vw ;
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    iframe {
        width: 290px; 
        height: 175px; 
    }

    @media screen and (max-width: 768px) {
        iframe {
            margin-top: 1rem;
            width: 350px; 
            height: 185px; 
        }
    }
}
