.whatsapp-icon {
  position: fixed;
  z-index: 10001;
  bottom: 20px;
  right: 20px;
  color: #fff;
  padding: .1vw;
  cursor: pointer;
  animation: pulse 1.5s infinite;
  background-color: transparent;

  img {
    width: 4rem;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.whatsapp-icon:hover {
  animation-play-state: paused;
}

@media screen and (max-width: 480px) {

  .whatsapp-icon {

  
    img {
      width: 2.5rem;
    }
  }
}