

.course-list {

    .course-links {
        padding: 1vw 0;

        .course-link {
            font-size: 1vw;
            padding: .8vw;
            margin: 0.6vw 0;
            background-color: #eee;
            width: 17vw;

            a {
                color: #707070;
            }
        }

        .active {
            background-color:#85BA00;
            border-right: 0.3vw solid black;
            width: 17.3vw;
            color: #fff;
        }
    }

    @media screen and (max-width:480px) {
        .course-links {

            .course-link {
                font-size: .9rem;
                padding: .8rem;
                margin: 0.6rem 0;
                width: unset;
            }

            .active {
                border-right: 1vw solid black;
                a {
                    color: #fff;
                }
            }
        }

    }
}