// skills.scss
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");

.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5vw 3vw;

  .earn {
    background-color: #252525;
    display: flex;
    padding: 2.92vw;
    color: #fff;
    border-radius: 2.5vw;

    .st-card {
      display: flex;

      .bg-clr {
        margin: 0 2vw;
        width: 4.5vw;
        height: 4.5vw;
        padding: 0.512vw;
        border-radius: 0.732vw;
        background-color: #9158fa;

        img {
          width: 3.5vw;
          height: 3.5vw;
        }
      }

      .stats {
        h1 {
          font-size: 1.3vw;
          padding-bottom: 1vw;
          font-family: "Poppins", sans-serif;

          span {
            font-size: 1.3vw;
            font-family: "Poppins", sans-serif;
          }
        }

        p {
          font-size: 0.866vw;
          font-family: "Poppins", sans-serif;
        }

        .view {
          font-size: 1.098vw;
          line-height: 3.66vw;
          font-family: "Poppins", sans-serif;

          &:hover {
            color: #9158fa;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    padding: 10vw 8vw;
    .slick-slider .slick-track,
    .slick-slider .slick-list {
      width: 83vw;
    }
    .slick-prev:before {
      content: "←";
      color: black;
      font-size: 5vw;
    }
  
    .slick-next:before {
      content: "→";
      color: black;
      font-size: 5vw;
    }
    .earn {
      background-color: #252525;
      display: flex;
      border-radius: 6vw;

      .st-card {
        margin-top: 5vw;

        .bg-clr {
          border-radius: 3vw;
          margin: 0 5vw;
          width: 19.5vw;
          height: 14.5vw;

          img {
            width: 12vw;
            height: 12vw;
          }
        }

        .stats {
          h1 {
            font-size: 4vw;
            padding-bottom: 2vw;

            span {
              font-size: 4vw;
            }
          }

          p {
            font-size: 3.5vw;
            padding-bottom: 2vw;
          }

          .view {
            font-size: 2.8vw;
            line-height: 5vw;
            margin-bottom: 5vw;
          }
        }
      }
    }
  }
}

