@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");

.skills {
  display: flex;
  justify-content: space-between;
  padding: 5vw 7vw;

  .earn {
    background-color: #252525;
    display: flex;
    padding: 2.92vw;
    color: #fff;
    border-radius: 1.46vw;

    .st-card {
      display: flex;

      .bg-clr {
        margin: 0 1vw;
        width: 4.5vw;
        height: 4.5vw;
        padding: 0.512vw;
        border-radius: 0.732vw;
        background-color: #9158fa;

        img {
          width: 3.5vw;
          height: 3.5vw;
        }
      }

      .stats {
        font-family: "Poppins", sans-serif;

        h1 {
          font-size: 1.599vw;
          padding-bottom: 1vw;
          font-family: "Poppins", sans-serif;
        }

        p {
          font-size: 0.866vw;
          font-family: "Poppins", sans-serif;
        }

        .view {
          font-size: 1.098vw;
          line-height: 3.66vw;
          font-family: "Poppins", sans-serif;

          &:hover {
            color: #9158fa;
          }
        }
      }
    }
  }
}
