.header-container {
    background-image: url("../../assets/headerline.png");
    height: 5.5vw;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  
    .header-logo-icon {
      padding: 0vw 7vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  
      .header-logo {
        .header-bg-img {
          img {
            height: 5.5vw;
          }
        }
        .header-logo-bg {
          img {
            height: 4vw;
            position: relative;
            bottom: 5.3vw;
            left: 2.196vw;
          }
        }
      }
  
      .header-icon {
        img {
          margin: 0 0.5vw;
          margin-top: 0.6vw;
  
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: "480px") {
    .header-container {
      background-image: url("../../assets/headerline.png");
      height: 10vw;
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
  
      .header-logo-icon {
        display: flex;
        flex-direction: row;
        padding: 0vw 8vw;
        justify-content: space-between;
  
        .header-logo {
          .header-bg-img {
            img {
              height: 10vw;
            }
          }
          .header-logo-bg {
            img {
              height: 7.5vw;
              position: relative;
              bottom: 10.5vw;
              left: 3.5vw;
            }
          }
        }
  
        .header-icon {
          img {
            margin: 0 1vw;
            margin-top: 0.6vw;
          }
        }
      }
    }
  }
  