@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=Poppins:wght@300&display=swap");

.nav-bar {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 0 6vw;

  .menu-icon {
    display: none;
    cursor: pointer;
  }

  .logo {
    img {
      height: 7vw;
    }
  }

  .tabs {
    display: flex;
    align-items: center;
    gap: 1.875rem;

    .menu-items {
      color: #000000;
      font-size: 1.1vw;
      font-weight: 600;

      &:hover {
        color: #85ba00;
      }
    }

    .join {
      background-color: #5bddb5;
      color: #ffffff;
      border-radius: 0.425rem;
      padding: 0.625rem;
      font-size: 1.1vw;
      font-weight: 600;
    }
  }

  &.menu-open {
    .menu-icon {
      display: block;
    }

    .tabs {
      display: none;
      .menu-items {
        color: #000000;
        font-size: 3vw;
        font-weight: 600;
        margin-bottom: 7px;
        font-family: "Poppins", sans-serif;
        margin-right: 20px;

        &:hover {
          color: #85ba00;
        }
      }

      .join {
        width: 47%;
        font-size: 3vw;
        font-family: "Poppins", sans-serif;
      }
    }
  }

  @media screen and (max-width: 480px) {
    padding: 1vw 7vw;

    .menu-icon {
      display: block;
    }

    .logo {
      img {
        height: 13vw;
      }
    }

    .tabs {
      display: none;
    }

    &.menu-open {
      .tabs {
        display: block;
        position: absolute;
        top: 20%;
        left: 0;
        background: #fff;
        width: 100%;
        padding: 1rem 2rem;
        z-index: 1;
      }
    }
  }
}
