$theme-color: #202c45;

.statistics {
  display: flex;
  border-radius:  7.32vw 0vw 0vw  7.32vw;
  margin-left: 2.196vw;
  background-color: $theme-color;
  justify-content: space-between;
  color: #fff;
  padding: 6vw 6vw;
  // margin-bottom: 6vw;

  .st-card {
    display: flex;

    img {
      margin: 0 1vw;
      width: 3.5vw;
      height: 3.5vw;
    }

    .stats {
      font-family: "Poppins";

      h1 {
        font-weight: 700;
        font-size: 1.7vw;
        padding-bottom: 5px;
      }

      p {
        font-weight: 500;
        letter-spacing: 0.7px;
        font-size: 1.2vw;
      }
    }
  }

  @media screen and (max-width: "480px") {
    flex-direction: column;
    padding: 5vw 6vw;
    padding-left: 20vw;
    padding-left: 34vw;
    border-radius: 41.32vw 0vw 0vw 41.32vw;

    .st-card {
      display: flex;
      margin: 1rem 0;

      img {
        margin-right: 1rem;
        width: 3rem;
        height: 3rem;
      }

      .stats {
        h1 {
          font-size: 1.3rem;
          padding-bottom: 5px;
        }

        p {
          font-size: 0.9rem;
        }
      }
    }
  }
}
