.buttons-containers {
  position: relative;
  bottom: -4vw;
  display: flex;
  justify-content: center;
}

.buttons {
  padding: 1.2vw;
  width: 15%;
  cursor: pointer;
  border: 1px solid #2d6aa2;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 0.9vw;
  transition: background-color 0.3s;
}

.buttons:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.buttons:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.buttons.active {
  background-color: #2d6aa2;
  color: white;
}

@media screen and (max-width: "480px") {
  .buttons {
    font-size: 2vw;
    width: 23%;
  }
}
