@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=Poppins:wght@300&display=swap");

.footer {
  background-color: #202c45;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  .footer-container {
    padding: 2vw 6vw;
    display: flex;
    justify-content: space-between;

    a {
      cursor: pointer;
    }

    .details {
      width: 20vw;

      img {
        width: 18vw;
      }
    }

    .message {
      font-family: "Poppins";
      color: #fff;
      line-height: 1.5vw;
      font-size: 1.1vw;
    }

    .footer-icons {
      img {
        background-color: #85ba00;
        margin: 3vw 0.4vw;
        padding: 0.4vw;
        border-radius: 50%;
        width: 2.2vw;
      }
    }
    .links {
      margin-top: 1vw;

      h4 {
        font-family: "Poppins";
        font-weight: 700;
        margin: 1vw 0;
        letter-spacing: 0.1vw;
        font-size: 1.3vw;
        color: #fff;
      }

      img {
        width: 1.1vw;
        font-size: 1.1vw;
        margin-right: 0.4vw;
      }

      a {
        font-family: "Poppins";
        line-height: 2.5rem;
        font-size: 1.2vw;
        color: #fff;
      }
    }

    .contact-us {
      margin-top: 1vw;
      h4 {
        font-family: "Poppins";
        font-weight: 700;
        margin: 1vw 0;
        letter-spacing: 0.1vw;
        font-size: 1.3vw;
        color: #fff;
      }

      .text-part {
        width: 20vw;
        margin: 3vw 0.4vw;
        font-family: "Poppins";
        color: #fff;
        line-height: 1.5vw;
        font-size: 1.1vw;
      }
    }
  }

  .footer-container-2 {
    background-image: url("../../assets/headerline.png");
    height: 5.5vw;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .footer-logo-text {
      padding: 0vw 6vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .footer-logo {
        .footer-bg-img {
          img {
            height: 5.5vw;
          }
        }
        .footer-logo-bg {
          img {
            height: 4vw;
            position: relative;
            bottom: 5.3vw;
            left: 2.196vw;
          }
        }
      }
      .footer-text {
        p {
          margin-top: 0.6vw;
          color: white;
          font-size: 1.1vw;
          span {
            color: #85ba00;
            font-weight: 700;
          }
        }
      }
      .footer-icon {
        margin-right: 2.2vw;
        img {
          margin: 0 0.5vw;
          margin-top: 0.6vw;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  @media screen and (max-width: "480px") {
    .footer-container {
      padding: 5vw 6vw;
      flex-direction: column;

      .details {
        width: unset;

        img {
          width: 60vw;
        }

        .message {
          line-height: 1.3rem;
          font-size: 1rem;
        }
        .footer-icons {
          img {
            margin: 1rem 0;
            margin-right: 0.4rem;
            padding: 0.3rem;
            border-radius: 12px;
            width: 2rem;
          }
        }
      }

      .links {
        margin-top: 1rem;

        h4 {
          margin: 0.5rem 0;
          font-size: 1.3rem;
        }

        img {
          width: 0.8rem;
          margin-right: 0.4rem;
        }

        a {
          font-size: 1rem;
        }
      }

      .contact-us {
        h4 {
          margin: 0.5rem 0;
          font-size: 1.3rem;
        }

        .text-part {
          width: unset;
          line-height: 1.3rem;
          font-size: 1rem;
        }
      }
    }
    .footer-container-2 {
      background-image: url("../../assets/headerline.png");
      height: 18vw;
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;

      .footer-logo-text {
        padding: 5vw 6vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.2vw;

        .footer-logo {
          display: none;
        }
        .footer-text {
          p {
            color: #fff;
            font-size: 2.5vw;
            margin-top: 0vw;
          }
        }
        .footer-icon {
          display: flex;
          flex-direction: row;
          justify-content: end;
          gap: 2vw;
        }
      }
    }
  }
}
