.tutorials-section {
  .notes-pages {
    position: relative;
    .img-banner {
      img {
        height: 20.571vw;
      }
    }
    .notes-text-part {
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        position: absolute;
        color: #fff;
        font-family: "Poppins";
        font-size: 4vw;
        top: 5.2vw;
        letter-spacing: 0.14vw;
        font-weight: bold;
      }
    }
    .homes-notes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: absolute;
      gap: 1.2vw;
      top: 11vw;


      .dot {
        width: 1vw;
        height: 1vw;
        background-color: #fff;
        border-radius: 50%;
      }

      p {
        font-family: "Poppins";
        color: #fff;
        font-size: 1.2vw;
      }
    }
  }
  @media screen and (max-width: 480px) {
    .notes-pages {
      .img-banner {
        img {
          height: 20.871vw;
        }
      }
      .notes-text-part {
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
        
          font-size: 5vw;
        }
        .homes-notes {
          display: none;
          // margin-top: 1vw;
          // top: 11vw;
          // left: 42vw;
          // .dot {
          //   width: 1vw;
          //   height: 1vw;
          // }

          // p {
          //   font-size: 2vw;
          // }
        }
      }
    }
  }
}
