* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial;
  color: inherit;

}

.under-bar::after {
  content: "";
  height: .2vw;
  background-color: #363345;
  display: flex;
  width: 4vw;
  margin-top: .7vw;
}


@media screen and (max-width:600px) {
  .under-bar::after {
    height: .2rem;
    width: 20vw;
  }

}

button:hover {
  cursor: pointer;
}