.vision-container{
    padding: 6vw 4vw 6vw 4vw;
    .vision-section{
        display: flex;
        gap: 7vw;
        align-items: center;
        .img-vision{
            img{
                height: 34vw;
            }
        }

        .our-vision{
            margin-bottom: 0.5vw;
            h4{
                font-size:1vw;
                font-weight: 800;
                font-family: "Poppins";
                color:#85BA00;
            }
        }

        .career{
            margin-bottom: 0.9vw;
            h1{
                font-size: 2vw;
                font-weight: 800;
                font-family: "Poppins";
            }
        }

        .dolor{
            margin-bottom: 0.5vw;
            p{
                font-family: "Poppins"; 
                font-family: 0.7vw;
                
            }
        }

        .education{
            p{
                font-family: "Poppins"; 
                font-family: 0.7vw;
                font-weight: 800;
            }
        }
    }
}